body {
    margin: 0;
}
* {
    font-family: 'Montserrat', sans-serif;
}
.container {
    background-color: #001864;
    height: 100vh;
    width: 100%;
}
label {
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}
.central-logo {
    display: flex;
    justify-content: center;
    height: 40%;
}
.logo {
    margin-top: 20px;
    height: 100%;
}
.inputs-div {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}
::placeholder {
    text-align: center;
    font-size: 18px;
}
input {
    width: 20%;
    min-width: 260px;
    height:40px;
    border-radius: 50px;
    font-size: 22px;
    text-align: center;
    outline:none;
}
.buttons {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-pass {
    margin-top: -10px;
    color: white;
    text-decoration: underline;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #999;
    width: 10%;
    min-width: 150px;
    height: 70px;
}
.button-div {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
}
.button:hover {
    background-color: black;
    color: white;
}
.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
}
